[target.x86_64-pc-windows-msvc]
linker = "rust-lld.exe"
# rustflags = ["-C", "target-cpu=native"]

[registry]
global-credential-providers = [
    "cargo:token-from-stdout op.exe read op://Private/crates.io/api-key",
]
