"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
email = {{ .email | quote }}

name = "Connor Fitzgerald"
[aliases]
abandon-branch = ["util", "exec", "--", "nu", '{{ .chezmoi.homeDir }}\AppData\Roaming\jj\scripts\abandon-branch.nu']
log-gpg = ["log", "--config", "ui.show-cryptographic-signatures=true"]
pr-diff = ["diff", "-f", "fork_point(@ | trunk())", "-t", "@"]
update = ["rebase", "-s", "roots(trunk()..@)", "-d", "trunk()"]

[revsets]
log = """
    present(@) | 
        ancestors(immutable_heads().. ~ (storage_commits ~ ..@), 2) |
    present(trunk())
"""

[revset-aliases]
storage = "ancestors(immutable_heads()..storage_commits, 2)"
storage_commits = "description(glob:'storage:*')"
private_commits = "storage_commits | description(glob:'private:*')"

[signing]
key = {{ .signingKey | quote }}
behavior = "force"
backend = "ssh"

[signing.backends.ssh]
program = '{{ .chezmoi.homeDir }}\AppData\Local\Microsoft\WindowsApps\op-ssh-sign.exe'
allowed-signers = '{{ .chezmoi.homeDir }}\.ssh\allowed_signers'

[git]
sign-on-push = true
# Prevent pushing work in progress or anything explicitly labeled "private"
private-commits = "private_commits"

[ui]
editor = "code --wait"
default-command = "log"
diff-editor = ":builtin"
