{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $keys := dict
    "Bridgewater-CF" "op://Infrastructure/Work Laptop/public key"
-}}
{{- if not (hasKey $keys .chezmoi.hostname) }}
    {{ fail (printf "No signing key configured for hostname: %s" .chezmoi.hostname) }}
{{- end }}

[data]
email = {{ $email | quote }}
signingKey = {{ onepasswordRead (get $keys .chezmoi.hostname) | quote }}

[edit]
command = "code"
args = ["--wait"]

[git]
autoCommit = true
autoPush = true

[merge]
command = "nu"
args = [
    "-c",
    "cp {{ "{{" }} .Target | quote {{ "}}" }} {{ "{{" }} printf \"%s.base\" .Target | quote {{ "}}" }}; code --new-window --wait --merge {{ "{{" }} .Destination | quote {{ "}}" }} {{ "{{" }} .Target | quote {{ "}}" }} {{ "{{" }} printf \"%s.base\" .Target | quote {{ "}}" }} {{ "{{" }} .Source | quote {{ "}}" }}",
]
