[core]
	editor = code --wait
	autocrlf = false
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[user]
	email = "{{ .email }}"
	name = Connor Fitzgerald
	signingkey = {{ .signingKey }}
[gpg]
	format = ssh
[gpg "ssh"]
	program = {{ .chezmoi.homeDir }}\\AppData\\Local\\Microsoft\\WindowsApps\\op-ssh-sign.exe
	allowedSignersFile = {{ .chezmoi.homeDir }}\\.ssh\\allowed_signers
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true