"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
email = {{ .email | quote }}

name = "Connor Fitzgerald"
[aliases]
abandon-branch = ["util", "exec", "--", "nu", '{{ .chezmoi.homeDir }}/.config/jj/scripts/abandon-branch.nu']
fmt-branch = ["util", "exec", "--", "nu", '{{ .chezmoi.homeDir }}/.config/jj/scripts/fmt-branch.nu']
log-gpg = ["log", "--config", "ui.show-cryptographic-signatures=true"]
pr-diff = ["diff", "-f", "fork_point(@ | trunk())", "-t", "@"]
update = ["rebase", "-s", "roots(trunk()..@)", "-d", "trunk()"]
ws-rm = ["util", "exec", "--", "nu", '{{ .chezmoi.homeDir }}/.config/jj/scripts/ws-rm.nu']

[revsets]
log = """
    present(@) | 
        ancestors(immutable_heads().. ~ (storage_commits ~ ..@), 2) |
    present(trunk())
"""

[revset-aliases]
storage = "ancestors(immutable_heads()..storage_commits, 2)"
storage_commits = "description(glob:'storage:*')"
private_commits = "storage_commits | description(glob:'private:*')"

[signing]
key = {{ .signingKey | quote }}
behavior = "drop"
backend = "ssh"

[signing.backends.ssh]
{{- if eq .chezmoi.os "windows" }}
program = "op-ssh-sign.exe"
{{- else if eq .chezmoi.os "darwin" }}
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- else }}
program = "op-ssh-sign"
{{- end }}
allowed-signers = '{{ .chezmoi.homeDir }}/.ssh/allowed_signers'

[git]
sign-on-push = true
# Prevent pushing work in progress or anything explicitly labeled "private"
private-commits = "private_commits"

[ui]
{{- if eq .chezmoi.os "windows" }}
editor = "code.cmd --wait"
{{- else }}
editor = "code --wait"
{{- end }}
default-command = "log"
diff-editor = ":builtin"
